* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


<<<<<<< HEAD:.static/h.css


=======
>>>>>>> 0e20d2a8e8beb6d49e64405456978e14f8696f76:static/h.css
